# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
webapp/dist
webapp/tmp
webapp/out-tsc

# dependencies
webapp/node_modules

# profiling files
webapp/chrome-profiler-events.json
webapp/speed-measure-plugin.json

# IDEs and editors
webapp/.idea
webapp/.project
webapp/.classpath
webapp/.c9/
webapp/*.launch
webapp/.settings/
webapp/*.sublime-workspace

# IDE - VSCode
webapp/.vscode/*
webapp/!.vscode/settings.json
webapp/!.vscode/tasks.json
webapp/!.vscode/launch.json
webapp/!.vscode/extensions.json
webapp/.history/*

# misc
webapp/.sass-cache
webapp/connect.lock
webapp/coverage
webapp/libpeerconnection.log
webapp/npm-debug.log
webapp/yarn-error.log
webapp/testem.log
webapp/typings

# System Files
webapp/.DS_Store
webapp/Thumbs.db
----------
eolicapi/target/
eolicapi/!.mvn/wrapper/maven-wrapper.jar

### STS ###
eolicapi/.apt_generated
eolicapi/.classpath
eolicapi/.factorypath
eolicapi/.project
eolicapi/.settings
eolicapi/.springBeans
eolicapi/.sts4-cache

### IntelliJ IDEA ###
eolicapi/.idea
eolicapi/*.iws
eolicapi/*.iml
eolicapi/*.ipr

### NetBeans ###
eolicapi/nbproject/private/
eolicapi/build/
eolicapi/nbbuild/
eolicapi/dist/
eolicapi/nbdist/
eolicapi/.nb-gradle/
